<html>
  <head>
    <style>
      .fb-color{
        background-color: #3b539b
      }
      .text-logo{
        font-size: 30px;
        color: white;
      }
      .header_img{
        width: 33%
      }
    </style>
    <!--BOOTSTRAP CSS import-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-dark fb-color">
      <a class="text-logo navbar-brand">Catbook</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </nav>
    <!--Navbar End-->
    <div class="main-login main-center">
      <form action="/add_cat" class="forms" method="POST" action="#" id="sign_form">
          
          <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Cat Name</label>
              <div class="cols-sm-4">
                  <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="name" id="first_name"  placeholder="Enter your cat's name"/>
                  </div>
              </div>
          </div>


          <div class="form-group">
              <label for="username" class="cols-sm-2 control-label">URL for cat's picture</label>
              <div class="cols-sm-3">
                  <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="url_for_pic" id="username"  placeholder="Must be a URL"/>
                  </div>
              </div>
          </div>
          <input type="submit"  class="btn btn-primary" placeholder="Sign Up" id="signupsubmit">
      </form>
  </div>

    <!--BOOTSTRAP Javascript import-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>